<!DOCTYPE html>
<html lang="en">

 <head>
    <title>Document</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Oswald:wght@200&display=swap" rel="stylesheet">
    

 </head>
    <style>
        .cshead {
            background-color: blueviolet
            height:150px 
            text-align:center 
            display:flex 
            justify-content:center 
            align-item:center 
        }body {
            font-family: 'Kanit', sans-serif
        }
    </style>

</html>